# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular Data Science languages
- List common libraries used by Data Scientist
- Gather Data Science Tools in a table
- Demonstrate arithmetic code used
- Demonstrate

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Swift

Some of the commonly used libraries used by Data Scientist include:
1. Scikit-learn
2. TensorFlow
3. Pandas
4. NumPy
5. OpenCV

| Data Science Tools |
| ---|
| Jupyter Notebooks |
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
#This is asimple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by dividing by 60
a=200/60
print(str(a)+" hours in 200 minutes")
b=200//60
c=200%60
print(str(b)+" hours and "+str(c)+" minutes in 200 minutes")

3.3333333333333335 hours in 200 minutes
3 hours and 20 minutes in 200 minutes

## Author

Balázs Bárány